body {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul#navigation {
    width: 100%;
    background-color: #212121;
    list-style: none;
    height: 40px;
    margin: 0;
    padding: 0;
}

ul#navigation li {
    float: left;
}

ul#navigation li.right {
    float: right;
}

ul#navigation li a {
    display: block;
    height: 30px;
    color: #989A97;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

ul#navigation li a i {
    padding-right: 8px;
}

ul#navigation li a:hover {
    background-color: #111;
    color: #fff;
}

div#content {
    padding: 20px;
}

div#content h2:first-child {
    margin-top: 0;
}

a.btn {
    background-color: #212121;
    border-radius: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

a.btn:hover {
    color: #989a97;
    background-color: #111;
}

/* MESSAGES */

div.message {
    padding: 8px 15px;
    border-radius: 10px;
}

div.message i {
    margin-right: 5px;
    vertical-align: middle;
}

div.message.success {
    background-color: #dff2bf;
    color: #4f8a10;
    border: 1px solid #4f8a10;
}

div.message.success a {
    color: #4f8a10;
}

div.message.error {
    background-color: #ffbaba;
    color: #d8000c;
    border: 1px solid #d8000c;
}

div.message.error a {
    color: #d8000c;
}

div.message.info {
    background-color: #66ccff;
    color: #0066ff;
    border: 1px solid #0066ff;
}

/* TABLES */

table {
    min-width: 600px;
}

table tr th,
table tr td {
    text-align: left;
    padding: 13px;
    white-space: nowrap;
}

table tr th {
    color: #fff;
    background-color: #5da1f4;
}

table tr th.largest {
    width: 100%;
}

table tr:nth-child(2n)  {
    background-color: #f4f4f4;
}

table tr:nth-child(2n+1)  {
    background-color: #eaeaea;
}

/* FORMS */

form table th {
    width: 180px;
}

form table input,
form table select {
    width: 300px;
}

/* SCRIPT EXECUTION */

table tr th.toplabel {
    vertical-align: top;
}

pre#output {
    width: 700px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    -moz-box-shadow:    inset 0 0 5px #111;
    -webkit-box-shadow: inset 0 0 5px #111;
    box-shadow:         inset 0 0 5px #111;

    overflow-y: scroll;
    max-height: 600px;
}
