body {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

i.fa {
    cursor: default;
}

a > i.fa {
    cursor: pointer;
}

pre {
    margin: 0;
    padding: 10px;
    background-color: #fff;
    -moz-box-shadow:    inset 0 0 5px #111;
    -webkit-box-shadow: inset 0 0 5px #111;
    box-shadow:         inset 0 0 5px #111;

    overflow-y: scroll;
    max-height: 600px;
}

#navigation {
    display: inline-block;
    width: 100%;
    background-color: #212121;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    float: left;
}

#navigation li.right {
    float: right;
}

#navigation li a {
    display: block;
    height: 30px;
    color: #989A97;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

#navigation li a i {
    padding-right: 8px;
}

#navigation li a:hover {
    background-color: #111;
    color: #fff;
}

#content {
    padding: 20px;
    clear: both;
}

#content h2:first-child {
    margin-top: 0;
}

a.icon_button {
    background-color: #212121;
    border-radius: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 2px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}

a.icon_button:hover {
    color: #989a97;
    background-color: #111;
}

a.button i {
    margin: 0 6px 0 0;
}

/* MESSAGES */

div.message {
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

div.message i {
    margin-right: 5px;
    vertical-align: middle;
}

div.message.success {
    background-color: #dff2bf;
    color: #4f8a10;
    border: 1px solid #4f8a10;
}

div.message.success a {
    color: #4f8a10;
}

div.message.error {
    background-color: #ffbaba;
    color: #d8000c;
    border: 1px solid #d8000c;
}

div.message.error a {
    color: #d8000c;
}

div.message.info {
    background-color: #BDE5F8;
    color: #00529B;
    border: 1px solid #00529B;
}

div.message.confirm {
    background-color: #FDF8EE;
    color: #9F6000;
    border: 1px solid #9F6000;
}

/* TABLES */

table {
    min-width: 600px;
}

table tr th,
table tr td {
    text-align: left;
    padding: 13px;
    white-space: nowrap;
}

table tr th {
    color: #fff;
    background-color: #5da1f4;
}

table tr th p {
    font-weight: normal;
    display: block;
    font-size: 0.8em;
}

table tr th.largest {
    width: 100%;
}

table tr th.short {
    width: 30px;
}

table tr:nth-child(2n)  {
    background-color: #f4f4f4;
}

table tr:nth-child(2n+1)  {
    background-color: #eaeaea;
}

table table tr th,
table table tr td {
    padding: 5px;
}

table table tr:nth-child(2n)  {
    background-color: transparent;
}

table table tr:nth-child(2n+1)  {
    background-color: transparent;
}

table.info th {
    width: 250px;
}

/* FORMS */

form table th {
    width: 180px;
    white-space: normal;
}

form table td {
    vertical-align: top;
}

form table input[type="text"],
form table input[type="password"],
form table select {
    width: 300px;
}


a.button,
button[type="submit"] {
    margin-top: 15px;
    background-color: #5da1f4;
    border-radius: 5px;
    display: inline-block;
    margin-right: 2px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

a.button:hover,
button[type="submit"]:hover {
    color: #989a97;
    background-color: #111;
}


/* SCRIPT EXECUTION */

table tr th.toplabel {
    vertical-align: top;
}

#output {
    width: 700px;
}


/* SCHEDULER CONFIG */

form table input.day_of_week,
form table input.day_of_month,
form table input.interval_inp,
form table input.time_of_day {
    width: 30px;
}

/* STATE */

td.state0 {
    background-color: #0f0;
}

td.state1 {
    background-color: #ff0;
}

td.state2 {
    background-color: #f00;
}
